@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Fira+Code:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Outfit:wght@100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --background: #e6e3ff;
  --foreground: #f0eff7;
  --color-text: #000;
  --color-accent: #8b5cf6;
  --background-image:
    radial-gradient(at 40% 20%, hsl(231, 90%, 92%) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsl(231, 90%, 90%) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsl(231, 90%, 93%) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(250, 90%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsl(231, 90%, 90%) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsl(231, 90%, 93%) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsl(231, 93%, 90%) 0px, transparent 50%);
  --color-hover: #f3f0fa;
}

.light {
  --background: #e6e3ff;
  --foreground: #f0eff7;
  --color-text: #000;
  --color-accent: #8b5cf6;
  --background-image:
    radial-gradient(at 40% 20%, hsl(231, 90%, 92%) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsl(231, 90%, 90%) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsl(231, 90%, 93%) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(250, 90%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsl(231, 90%, 90%) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsl(231, 90%, 93%) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsl(231, 93%, 90%) 0px, transparent 50%);
  --color-hover: #f3f0fa;
}

.dark {
  --background: #000000;
  --foreground: #111111;
  --color-text: #eeecff;
  --color-accent: #8b5cf6;
  --background-image:
    radial-gradient(at 40% 20%, hsla(0, 0%, 4%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(0, 0%, 9%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(338, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 0%, 7%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(0, 3%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(341, 0%, 7%, 1) 0px, transparent 50%);
  --color-hover: #eeecff27;
}

@theme inline {
  --color-cc-primery: var(--color-text);
  --color-cc-accent: var(--color-accent);
  --color-cc-foreground: var(--foreground);
  --color-cc-background: var(--background);
  --color-cc-hover: var(--color-hover);
  --animate-gradient: gradientBg 2s ease infinite;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #111111;
    --color-text: #eeecff;
    --color-accent: #8b5cf6;
    --background-image:
      radial-gradient(at 40% 20%, hsla(0, 0%, 4%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 0%, hsla(0, 0%, 9%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 50%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 50%, hsla(338, 0%, 0%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 100%, hsla(0, 0%, 7%, 1) 0px, transparent 50%),
      radial-gradient(at 80% 100%, hsla(0, 3%, 6%, 1) 0px, transparent 50%),
      radial-gradient(at 0% 0%, hsla(341, 0%, 7%, 1) 0px, transparent 50%);
    --color-hover: #eeecff27;
  }
}

* {
  font-family: "Parkinsans", sans-serif;
}

html {
  scroll-behavior: smooth;
  cursor: default;
}

.monospace {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
}

.heading {
  font-weight: 400;
  font-family: var(--font-magic-ruby);
}

.heading.main {
  font-weight: 400;
  font-family: var(--font-heroking);
}


.sub-heading {
  font-weight: 400;
  font-family: var(--font-gobitta);
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--background);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  text-transform: capitalize;
}

.gradient-bg {
  background-color: hsla(0, 0%, 0%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(0, 0%, 4%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(0, 0%, 9%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(338, 0%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(0, 0%, 7%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(0, 3%, 6%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(341, 0%, 7%, 1) 0px, transparent 50%);
}

.backdrop-blur-md {
  backdrop-filter: blur(5px);
}

textarea::-webkit-scrollbar {
  display: none;
}

input[type="file"] {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 8px;
  cursor: pointer;
  border: none;
}

input[type="file"]::-webkit-file-upload-button {
  background: var(--foreground);
  color: var(--background);
  border: none;
  padding: 7.5px 15px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(270deg, #eeecff, #4169e3, #eeecff);
    background-size: 200% 200%;
    background-position: 0% 50%;
  }

  50% {
    background: linear-gradient(270deg, #eeecff, #4169e3, #eeecff);
    background-size: 200% 200%;
    background-position: 100% 50%;
  }

  100% {
    background: linear-gradient(270deg, #eeecff, #4169e3, #eeecff);
    background-size: 200% 200%;
    background-position: 0% 50%;
  }
}

@keyframes gradientBg {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.tool-nav {
  display: flex;
}

@media (max-height: 750px) {
  .tool-nav {
    display: none;
  }
}

@keyframes hero-gradient-animation {
    0% {
        --x-0: 91%;
        --c-0: hsla(232.5, 0%, 0%, 1);
        --s-start-0: 1%;
        --s-end-0: 61%;
        --y-0: 90%;
        --x-1: 17%;
        --y-1: 24%;
        --c-1: hsla(75, 0%, 0%, 1);
        --s-start-1: 0%;
        --s-end-1: 55%;
        --x-2: 11%;
        --y-2: 32%;
        --c-2: hsla(232.5, 25%, 12%, 1);
        --s-start-2: 19%;
        --s-end-2: 54%;
        --y-3: 31%;
        --c-3: hsla(254.00000000000034, 4%, 40%, 1);
        --x-3: 2%;
        --s-start-3: 0%;
        --s-end-3: 67%;
        --s-start-4: 12%;
        --s-end-4: 82%;
        --c-4: hsla(349, 0%, 0%, 1);
        --x-4: 74%;
        --y-4: 93%;
    }

    100% {
        --x-0: 49%;
        --c-0: hsla(232.50000000000048, 9%, 28%, 1);
        --s-start-0: 19%;
        --s-end-0: 69%;
        --y-0: 25%;
        --x-1: 1%;
        --y-1: 41%;
        --c-1: hsla(241.99999999999886, 10%, 23%, 1);
        --s-start-1: 3%;
        --s-end-1: 77%;
        --x-2: 44%;
        --y-2: 93%;
        --c-2: hsla(321, 0%, 0%, 1);
        --s-start-2: 6%;
        --s-end-2: 73%;
        --y-3: 51%;
        --c-3: hsla(246.17647058823542, 10%, 23%, 1);
        --x-3: 97%;
        --s-start-3: 8%;
        --s-end-3: 86%;
        --s-start-4: 20%;
        --s-end-4: 75%;
        --c-4: hsla(232.5, 19%, 16%, 1);
        --x-4: 10%;
        --y-4: 69%;
    }
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232.5, 0%, 0%, 1)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(75, 0%, 0%, 1)
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 11%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(232.5, 25%, 12%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(254.00000000000034, 4%, 40%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(349, 0%, 0%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 74%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

.mesh-bg {
    --x-0: 91%;
    --c-0: hsla(232.5, 0%, 0%, 1);
    --y-0: 90%;
    --x-1: 17%;
    --y-1: 24%;
    --c-1: hsla(75, 0%, 0%, 1);
    --x-2: 11%;
    --y-2: 32%;
    --c-2: hsla(232.5, 25%, 12%, 1);
    --y-3: 31%;
    --c-3: hsla(254.00000000000034, 4%, 40%, 1);
    --x-3: 2%;
    --c-4: hsla(349, 0%, 0%, 1);
    --x-4: 74%;
    --y-4: 93%;
    ;
    background-color: hsla(232.5, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}